<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="../css/footer.css" type="text/css">
    <title>Início</title>
</head>
<body>
    <a href="/users/logout">SAIR</a>
    <h1>Ola <%= nick.charAt(0).toUpperCase()+ nick.slice(1) %></h1>
<a href="/users/lista">Códigos de funcionarios

</a>
</br>
</br>

<a href="/users/projetos">Ver projetos/OCs existentes

</a>
</br>
</br>
<a href="/users/nova_oc">Adicionar nova OC
</a>
</br>
</br>
<a href="/users/novo_rdo">Criar novo rdo
</a>
</br>
</br>
<a href="/users/numero">RDOs para aprovação</a>
</a>
</br>
</br>
<a href="/users/aprovados">Ver RDOs aprovados</a>
</br>
</br>
<a href="/users/recusados">Ver RDOs recusadas</a>
<footer>&copy; Guilherme Portella </footer>
</body>
</html>